<html>
  <head>
    <title>IPSS-R Calculator</title>
    <%- include ./include.ejs %>
    <style>
      .row1 {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div
      class="container"
      style="margin:0 auto; max-width: 800px;margin-top: 20px;"
    >
      <div class="col-xs-12">
        <div
          class="row"
          style="color: blue; font-size: 20; margin-bottom: 20px;"
        >
          Revised International Prognostic Scoring System (IPSS-R) for
          Myelodysplastic Syndromes Risk Assessment Calculator
        </div>
        <div class="row">
          <div style="margin-bottom: 10px;">
            Developed by the International Working Group for the Prognosis of
            MDS (IWG-PM) under the aegis of the MDS Foundation, Inc.
          </div>
          <div>
            When entering values into the calculator, note the units given in
            parentheses. Also note that the usual ranges, given for orientation,
            are in brackets. These are not normal ranges.
          </div>
        </div>
      </div>
    </div>
    <div
      class="container"
      style="max-width:800px; margin:0 auto; margin-top: 20px;"
    >
      <div class="row row1">
        <div class="col-xs-8">
          <b>Variables (units) [usual range]</b>
        </div>
        <div class="col-xs-4">
          <b>Value</b>
        </div>
      </div>
      <div class="row row1" style="margin-bottom: 10px;">
        <div class="col-xs-8">
          <b>Hemoglobin (g/dL) [4-20]</b><br />
          A possible conversion for Hb values: 10 g/dL= 6.2 mmol/L, 8 g/dL= 5.0
          mmol/L
        </div>
        <div class="col-xs-4">
          <input type="text" name="hemo" />
          <div
            class="errorMessage"
            id="hemoglobinError"
            style="color: red; display: none;"
          >
            Invalid Input
          </div>
        </div>
      </div>
      <div class="row row1">
        <div class="col-xs-8">
          <b>Absolute Neutrophil Count (x109/L) [0-15]</b>
        </div>
        <div class="col-xs-4">
          <input type="text" name="anc" />
        </div>
      </div>
      <div class="row row1">
        <div class="col-xs-8">
          <b>Platelets (x109/L) [0-2000]</b>
        </div>
        <div class="col-xs-4">
          <input type="text" name="plat" />
        </div>
      </div>
      <div class="row row1">
        <div class="col-xs-8">
          <b>Bone Marrow Blasts (percent) [0-30]</b>
        </div>
        <div class="col-xs-4">
          <input type="text" name="bm" />
        </div>
      </div>
      <div class="row row1">
        <div class="col-xs-8">
          <b>Cytogenetic Category</b>
        </div>
        <div class="col-xs-4">
          <select id="cytogenetic">
            <option value="0">Very Good</option>
            <option value="1">Good</option>
            <option value="2">Intermediate</option>
            <option value="3">Poor</option>
            <option value="4">Very Poor</option>
          </select>
          <button
            data-toggle="modal"
            class="btn btn-primary"
            data-target="#cytogeneticModal"
          >
            ?
          </button>
        </div>
      </div>
      <div class="row row1">
        <div class="col-xs-8">
          <b>Age (Optional)</b>
        </div>
        <div class="col-xs-4">
          <input type="text" name="age" />
        </div>
      </div>
      <div class="row row1">
        <div class="col-xs-6">
          <input
            type="submit"
            class="btn btn-primary"
            id="calculate"
            value="Calculate"
          />
        </div>
        <div class="col-xs-6">
          <input
            type="submit"
            class="btn btn-primary"
            id="reset"
            value="reset"
          />
        </div>
      </div>
    </div>
    <div
      class="container"
      style="max-width:800px; margin:0 auto; margin-top: 20px;"
    >
      <b>IPSS-R Score and Category </b
      ><button
        data-toggle="modal"
        class="btn btn-primary"
        data-target="#scoreModal"
        style="margin-bottom: 10px;"
      >
        ?
      </button>
      <div class="progress">
        <div
          id="score"
          class="progress-bar"
          role="progressbar"
          style="width: 0%;"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>

    <%- include ./modals.ejs%>
  </body>
  <script>
    $(document).ready(() => {});
    function validateInputs() {
      return true;
    }
    $("#calculate").on("click", () => {
      if (validateInputs()) {
        let ancScore = () => {
          let ancVal = $("input[name='anc']").val();
          if (ancVal >= 8) {
            return 0;
          } else {
            return 1;
          }
        };
        let platScore = () => {
          let platVal = $("input[name='plat']").val();
          if (platVal >= 100) {
            return 0;
          } else if (platVal >= 50) {
            return 0.5;
          } else {
            return 1;
          }
        };
        let hemoScore = () => {
          let hemoVal = $("input[name='hemo']").val();
          if (hemoVal >= 10) {
            return 0;
          } else if (hemoVal >= 8) {
            return 1;
          } else {
            return 1.5;
          }
        };
        let bmScore = () => {
          let bmVal = $("input[name='bm']").val();
          if (bmVal > 10) {
            return 3;
          } else if (bmVal >= 5) {
            return 2;
          } else if (bmVal > 2) {
            return 1;
          } else {
            return 0;
          }
        };
        let cytoScore = () => {
          return $("#cytogenetic option:selected").index();
        };
        let score =
          cytoScore() + bmScore() + hemoScore() + platScore() + ancScore();
        if (score > 6) {
          $("#score")
            .css("width", 100 + "%")
            .text(score + " (Very high, 0.8 years)");
        } else if (score > 4.5) {
          $("#score")
            .css("width", 80 + "%")
            .text(score + " (High, 1.8 years)");
        } else if (score > 3) {
          $("#score")
            .css("width", 60 + "%")
            .text(score + " (Itermediate, 3.0 years)");
        } else if (score > 1.5) {
          $("#score")
            .css("width", 40 + "%")
            .text(score + " (Low, 5.3 years)");
        } else {
          $("#score")
            .css("width", 20 + "%")
            .text(score + " (Very low, 8.8 years)");
        }
      }
    });
    $("#reset").on("click", () => {
      $(':input[type="text"]').val("");
      $("#cytogenetic").val(0);
      $(".errorMessage").hide();
      $("#score")
        .css("width", 0 + "%")
        .text("");
    });
  </script>
</html>
