<div
  class="modal fade"
  id="cytogeneticModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cytogeneticModal">
          Cytogenetic Category
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              <b>Cytogenetic prognostic subgroups</b>
            </div>
            <div class="col-xs-6">
              <b>Cytogenetic abnormalities</b>
            </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              Very good
            </div>
            <div class="col-xs-6">
              -Y, del(11q)
            </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              Good
            </div>
            <div class="col-xs-6">
              Normal, del(5q), del(12p), del(20q), double including del(5q)
            </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              Intermediate
            </div>
            <div class="col-xs-6">
              del(7q), +8, +19, i(17q), any other single or double independent
              clones
            </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              Poor
            </div>
            <div class="col-xs-6">
              -7, inv(3)/t(3q)/del(3q), double including -7/del(7q), Complex: 3
              abnormalities
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Very poor
            </div>
            <div class="col-xs-6">
              Complex: >3 abnormalities
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="scoreModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="cytogeneticModal">
          IPSS-R Prognostic Risk Categories/Scores
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              <b>Risk Category</b>
            </div>
            <div class="col-xs-6">
              <b>Risk Score</b>
            </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              Very low
            </div>
            <div class="col-xs-6">
              <=1.5
            </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              Low
            </div>
            <div class="col-xs-6">
              >1.5 - 3
            </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              Intermediate
            </div>
            <div class="col-xs-6">
              >3 - 4.5
            </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-6">
              High
            </div>
            <div class="col-xs-6">
              >4.5 - 6
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Very high
            </div>
            <div class="col-xs-6">
              >6
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
